<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>
    
    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
    
    {% include external.html %}
   
    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style_32x32">
    	<a class="jiathis_button_qzone"></a>
    	<a class="jiathis_button_tsina"></a>
    	<a class="jiathis_button_tqq"></a>
    	<a class="jiathis_button_weixin"></a>
    	<a class="jiathis_button_renren"></a>
    	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
    	<a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
    <!-- JiaThis Button END -->
 
  </body>

</html>
